@media print {
    html, body {
        /* Hide the whole page */
        display: none;
    }
}

::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

:root{
    --padding_top_text: 20px;
    --vert_image_height: 25%;
}

@font-face {
    font-family: comforta;
    src: url("./Comfortaa-Light.ttf");
}

html, body{
    color: #a5a5a5;
    background-color: #1b1b1b;
    margin: 0;
    user-select: none;
    width: 100%;
    max-width: 100%;

}

.top_text, .bottom_text{
    font-family: 'comforta';
    font-size: 5rem;
    background-color: #2e2e2e;
    text-align: center;
    padding-top: var(--padding_top_text);
    padding-bottom: var(--padding_top_text);
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    vertical-align: middle;
}

.img_container{
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 1vh;
    font-family: 'comforta';
}

#image{
    width: 100%;
}

p{
    font-size: 3rem;
    text-align: center;
}
